<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/overview/style.css">
	<title>Document</title>
</head>
<body>
	<header>
		<div id="logo">
			<img src="/slide/logo.png" alt="Logo">
		</div>
	</header>
	<main>
		<% for (const training of trainings.concat(["test1","test2", "test3", "test4", "test5", "test6"])) { %>
		<article>
			<h1><%- training -%></h1>
			<a href="/view/<%- training -%>">Bekijken</a>
			<a href="/edit/<%- training -%>">Aanpassen</a>
		</article>
		<% } %>
	</main>
</body>
</html>