<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/overview/style.css">
	<title>Document</title>
</head>
<body>
	<% for (const training of trainings) { %>
	<article>
		<h1><%- training -%></h1>
		blahbalhanbalhlal
	</article>
	<% } %>
</body>
</html>