<div class="daisy">
	<link rel="stylesheet" href="/daisy/style.css">
	<img src="/daisy/images/daisy.png" alt="dnata Daisy">
	<p>Dnata Daisy says:</p>
	<div class="daisyTextbox">
		<p><%- tip || "I am here to help!" -%></p>
	</div>
</div>