<!DOCTYPE HTML>
<html>
<head>
  <%- stylesheet -%>
  <link rel="stylesheet" href="/before we start/slide1/style.css">
</head>
<body>
  <%- header -%>
  <main>
    <h1>Before we start</h1>
    <h2>House rules</h2>
    <div class="img-with-text">
        <img src="/before we start/slide1/images/phoneoff.png" alt="Please turn your mobile phone off">
        <p>Please turn your phone off</p>
    </div>
    <div class="img-with-text">
        <img src="/before we start/slide1/images/nosmoking.png" alt="No smoking allowed inside">
        <p>No smoking allowed inside</p>
    </div>
    <div class="img-with-text">
        <img src="/before we start/slide1/images/trashcan.png" alt="Clean as you go; throw your trash in the trashcan">
        <p>Clean as you go</p>
    </div>
    <div class="img-with-text">
        <img src="/before we start/slide1/images/emergency.png" alt="In case of emergency, get to this sign outside">
        <p>Assembly point</p>
    </div>
    <button>NEXT</button>
  </main>
  <%- footer -%>
  <%- script -%>
</body>
</html>