<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- stylesheet -%>
	<link rel="stylesheet" href="/human factors/slide1/style.css">
	<title>Human Factors</title>
</head>
<body>
	<%- header -%>
	<main id="content">
		<h1>Welcome!</h1>
		<h2>My name is {{SESSION.USER.NAME}}</h2>
		<p>I have worked at dnata for {{SESSION.USER.YEARSACTIVE}} years.</p>
		<img id="trainer" src="/human factors/slide1/images/trainer female.jpg" alt="Dnata employee">
		<!--<img src="/human factors/slide1/images/trainer session.user.gender.jpg" alt="Dnata employee">-->
	</main>
	<%- footer -%>
	<%- script -%>
</body>
</html>